:root {
    --red: #ff573e;
    --orange: #ff7700;
    --sidebar-margin-left: 17px;
}

/* sidebar */

#sidebar {
    width: 15rem;
    height: 100%;
    position: fixed;
    background-color: rgb(225, 225, 225);
    border-right: 1px solid rgb(180,180,180);
    user-select: none;
    transition: width 0.3s ease;
}

#sidebar.shrunk {
    transition: width 0.3s ease;
    /* width is expand btn width + exand button margin */
    width: 4.6rem; 
}

#expandbtn {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 20%;
    margin-right: .7rem;
    margin-top: .7rem;
    background-color: rgb(250,250,250);
    cursor: pointer;
}

#expandbtn:hover {
    background-color: rgb(255,255,255);
}

#book {
    width: 70%;
    height: 70%;
    user-select: none;
    filter: saturate(0);
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: .4s;
}

#book:hover {
    filter: saturate(1);
    transition-property: -moz-filter, -ms-filter, -o-filter, -webkit-filter, filter;
    transition-duration: .4s;
}

#infobar {
    width: 100%;
    margin-top: 6.5rem;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 3px;
}

#menutag {
    color: rgb(120,120,120);
    font-weight: 500;
    position: absolute;
    margin-top: 5rem;
    margin-left: var(--sidebar-margin-left);
    font-size: 14px;
    transition: opacity .1s ease-out;
}

#name {
    position: absolute;
    margin-left: var(--sidebar-margin-left);
    margin-top: 10.5px;
    color: black;
    font-size: 31.5px;
    transition: opacity .1s ease-out;
    opacity: 1;
}

/* sidebar */


/* assignments */

#assignments {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#assignmentstitle {
    margin: 0;
    padding: 0;
    margin-top: -60px;
}

#mainblockassignments {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(160,160,160);
    border-radius: 5px;
    width: 50rem;
    height: 60rem;
    margin-top: 18vh;

    display: flex;
    flex-direction: column;
}

/* assignments */

/* practice */

#practice {
    
}

/* practice */

/* profile */

.profileimg {
    width: 1.3rem;
    height: 1.3rem;
    padding-left: .35rem;
}

.profiletext {
    padding-left: .45rem;
}

#profile {
    
}

/* profile */

.clear {
    opacity: 0 !important;
}

.thin {
    font-weight: 400;
}

.orange {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to left, #ea6d00, #e91f00);
}