

/* sidebar */


/* sidebar */


/* assignments */

#mainblockassignments {
    width: 50rem;
}

#assignmentsdata {
    margin-top: 3rem;
}

/* assignments */

/* assignment page */


/* submissions */

#scrollbarborder {
    background-color: rgb(255, 218, 186);
}

.submissionborder {
   border: .5px solid #ff7700 !important;
}