#mainblockpractice {
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(130,130,130);
    border-radius: 5px;
    width: 50rem;
    height: 60rem;
    margin-top: 20vh;
}

#practicetitle {
    margin: 0;
    padding: 0;
    margin-top: -60px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 4px;
    text-decoration-color: #ea6d00;
}

#practice {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.exercise {
    display: flex;
    flex-direction: row;
    height: 6rem;
    width: calc(100% - 60px);
    /* background-color: red; */
    border-radius: 5px;
    border: 1px solid rgb(80,80,80);
    cursor: pointer;
}

.imagecontainer {
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgb(80,80,80);
    margin-top: -1px;
    margin-left: -1px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#noteidentifying {
    margin-top: 43px;
}

#exercises {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#simplenoteimg {
    height: 60%;
}


#noteidentifyingpage {
    display: flex;
    justify-content: center;
}

#practiceisland {
    width: 40vw;
    min-width: 400px;
    aspect-ratio: 1.25/1;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    border: .5px solid rgb(120, 120,120);
    margin-top: 10vh;
    transition: border .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 2vw;
}

#practiceisland:hover {
    border: .5px solid black;
}

#staff {
    width: 100%;
    /* background-color: red; */
    height: 50%;
    position: relative;

}

#notes {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notesgrid {
    width: 94%;
    height: 85%;
    /* background-color: blue; */
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

#staffsrcimg {
    /* min-width: 400px;
    width: 400px; */
    width: 100%;
    /* height: 100%; */
    position: relative;
}

.notebutton {
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    border: .5px solid rgb(120, 120,120);
    
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 4vw;
    cursor: pointer;
    font-size: 1vw;
    transition: background-color .1s;
    transition: border .1s;
    user-select: none;
}

.notebutton:hover {
    border: .5px solid black;
}

.correctchoice {
    background-color: #ffa85d;
    border: .5px solid #bf5900 !important;
    transition: background-color .1s;
    transition: border .1s;
}

.wrongchoice {
    background-color: #ff7e6a;
    border: .5px solid #c41a00 !important;
    transition: background-color .1s;
    transition: border .1s;
}

.accuracycontainer {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accuracynum {
    margin: 0;
    height: 38px;
    color: rgb(193, 158, 0);
}

.accuracyname {
    margin: 0;
    /* color:  */
}

.goodaccuracy {
    color: green !important;
}

.midaccuracy {
    color: #d56400;
}

.badaccuracy {
    color: rgb(216, 0, 0);
}